<a href="https://colab.research.google.com/github/Josembp18/DataScience/blob/main/C_5_1_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

print("=== CREACI√ìN Y EXPLORACI√ìN DE DATAFRAMES CON PANDAS ===\n")

# 1. CREACI√ìN DE DATAFRAMES DESDE DIFERENTES FUENTES
print("1. CREACI√ìN DE DATAFRAMES:")

# 1.1 Desde un diccionario
print("\n1.1 Desde diccionario:")
datos = {
    'Nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Pedro', 'Laura', 'Javier'],
    'Edad': [25, 32, 28, 35, 29, 31],
    'Ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Valencia', 'Madrid', 'Barcelona'],
    'Salario': [35000, 42000, 38000, 50000, 32000, 45000],
    'Departamento': ['Ventas', 'IT', 'Ventas', 'Direcci√≥n', 'Marketing', 'IT']
}

df = pd.DataFrame(datos)
print("DataFrame creado desde diccionario:")
print(df)


# 1.2 Desde una lista de listas
print("\n1.2 Desde lista de listas:")
columnas = ['Producto', 'Precio', 'Stock', 'Categor√≠a']
datos_productos = [
    ['Laptop', 1200, 15, 'Electr√≥nicos'],
    ['Mouse', 25, 100, 'Electr√≥nicos'],
    ['Silla', 150, 30, 'Oficina'],
    ['Monitor', 300, 20, 'Electr√≥nicos'],
    ['Escritorio', 200, 25, 'Oficina']
]

df_productos = pd.DataFrame(datos_productos, columns=columnas)
print("DataFrame de productos:")
print(df_productos)

print("\n" + "="*70)

=== CREACI√ìN Y EXPLORACI√ìN DE DATAFRAMES CON PANDAS ===

1. CREACI√ìN DE DATAFRAMES:

1.1 Desde diccionario:
DataFrame creado desde diccionario:
   Nombre  Edad     Ciudad  Salario Departamento
0     Ana    25     Madrid    35000       Ventas
1  Carlos    32  Barcelona    42000           IT
2   Mar√≠a    28    Sevilla    38000       Ventas
3   Pedro    35   Valencia    50000    Direcci√≥n
4   Laura    29     Madrid    32000    Marketing
5  Javier    31  Barcelona    45000           IT

1.2 Desde lista de listas:
DataFrame de productos:
     Producto  Precio  Stock     Categor√≠a
0      Laptop    1200     15  Electr√≥nicos
1       Mouse      25    100  Electr√≥nicos
2       Silla     150     30       Oficina
3     Monitor     300     20  Electr√≥nicos
4  Escritorio     200     25       Oficina

======================================================================

In [ ]:
# 2. EXPLORACI√ìN B√ÅSICA CON HEAD() Y TAIL()
print("\n2. EXPLORACI√ìN CON HEAD() Y TAIL():")

print("Primeras 3 filas con head(3):")
print(df.head(3))

print("\n√öltimas 2 filas con tail(2):")
print(df.tail(2))

print("\nPor defecto head() muestra 5 filas:")
print(df.head())

print("\nPor defecto tail() muestra 5 filas:")
print(df.tail())

print("\n" + "="*70)

2. EXPLORACI√ìN CON HEAD() Y TAIL():
Primeras 3 filas con head(3):
   Nombre  Edad     Ciudad  Salario Departamento
0     Ana    25     Madrid    35000       Ventas
1  Carlos    32  Barcelona    42000           IT
2   Mar√≠a    28    Sevilla    38000       Ventas

√öltimas 2 filas con tail(2):
   Nombre  Edad     Ciudad  Salario Departamento
4   Laura    29     Madrid    32000    Marketing
5  Javier    31  Barcelona    45000           IT

Por defecto head() muestra 5 filas:
   Nombre  Edad     Ciudad  Salario Departamento
0     Ana    25     Madrid    35000       Ventas
1  Carlos    32  Barcelona    42000           IT
2   Mar√≠a    28    Sevilla    38000       Ventas
3   Pedro    35   Valencia    50000    Direcci√≥n
4   Laura    29     Madrid    32000    Marketing

Por defecto tail() muestra 5 filas:
   Nombre  Edad     Ciudad  Salario Departamento
1  Carlos    32  Barcelona    42000           IT
2   Mar√≠a    28    Sevilla    38000       Ventas
3   Pedro    35   Valencia    50000    Direcci√≥n
4   Laura    29     Madrid    32000    Marketing
5  Javier    31  Barcelona    45000           IT

======================================================================

In [ ]:
# 3. INFORMACI√ìN ESTRUCTURAL CON SHAPE
print("\n3. INFORMACI√ìN ESTRUCTURAL CON SHAPE:")

print("DataFrame principal:")
print(f"df.shape: {df.shape}")
print(f"‚Üí {df.shape[0]} filas y {df.shape[1]} columnas")

print("\nDataFrame de productos:")
print(f"df_productos.shape: {df_productos.shape}")
print(f"‚Üí {df_productos.shape[0]} filas y {df_productos.shape[1]} columnas")

print("\n" + "="*70)

3. INFORMACI√ìN ESTRUCTURAL CON SHAPE:
DataFrame principal:
df.shape: (6, 5)
‚Üí 6 filas y 5 columnas

DataFrame de productos:
df_productos.shape: (5, 4)
‚Üí 5 filas y 4 columnas

======================================================================

In [ ]:
# 4. INFORMACI√ìN DETALLADA CON INFO()
print("\n4. INFORMACI√ìN DETALLADA CON INFO():")

print("Informaci√≥n del DataFrame principal:")
print("df.info():")
df.info()

print("\nInformaci√≥n del DataFrame de productos:")
print("df_productos.info():")
df_productos.info()

print("\n" + "="*70)

4. INFORMACI√ìN DETALLADA CON INFO():
Informaci√≥n del DataFrame principal:
df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        6 non-null      object
 1   Edad          6 non-null      int64
 2   Ciudad        6 non-null      object
 3   Salario       6 non-null      int64
 4   Departamento  6 non-null      object
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes

Informaci√≥n del DataFrame de productos:
df_productos.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Producto   5 non-null      object
 1   Precio     5 non-null      int64
 2   Stock      5 non-null      int64
 3   Categor√≠a  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

======================================================================

In [ ]:
# 5. M√âTODOS ADICIONALES DE EXPLORACI√ìN
print("\n5. M√âTODOS ADICIONALES DE EXPLORACI√ìN:")

print("5.1 Columnas disponibles:")
print(f"df.columns: {list(df.columns)}")

print("\n5.2 Tipos de datos por columna:")
print("df.dtypes:")
print(df.dtypes)

print("\n5.3 Estad√≠sticas descriptivas:")
print("df.describe():")
print(df.describe())

print("\n5.4 Valores √∫nicos en columna 'Ciudad':")
print(f"df['Ciudad'].unique(): {df['Ciudad'].unique()}")

print("\n5.5 Conteo de valores en columna 'Departamento':")
print("df['Departamento'].value_counts():")
print(df['Departamento'].value_counts())

print("\n" + "="*70)

5. M√âTODOS ADICIONALES DE EXPLORACI√ìN:
5.1 Columnas disponibles:
df.columns: ['Nombre', 'Edad', 'Ciudad', 'Salario', 'Departamento']

5.2 Tipos de datos por columna:
df.dtypes:
Nombre          object
Edad             int64
Ciudad          object
Salario          int64
Departamento    object
dtype: object

5.3 Estad√≠sticas descriptivas:
df.describe():
            Edad       Salario
count   6.000000      6.000000
mean   30.000000  40333.333333
std     3.464102   6653.319973
min    25.000000  32000.000000
25%    28.250000  35750.000000
50%    30.000000  40000.000000
75%    31.750000  44250.000000
max    35.000000  50000.000000

5.4 Valores √∫nicos en columna 'Ciudad':
df['Ciudad'].unique(): ['Madrid' 'Barcelona' 'Sevilla' 'Valencia']

5.5 Conteo de valores en columna 'Departamento':
df['Departamento'].value_counts():
Departamento
Ventas       2
IT           2
Direcci√≥n    1
Marketing    1
Name: count, dtype: int64

======================================================================

In [ ]:
# 6. DATAFRAME CON DATOS M√ÅS COMPLEJOS
print("\n6. DATAFRAME CON DATOS M√ÅS COMPLEJOS:")

# Crear DataFrame con diferentes tipos de datos y valores nulos
datos_complejos = {
    'ID': [1, 2, 3, 4, 5, 6],
    'Nombre': ['Ana', 'Carlos', None, 'Pedro', 'Laura', 'Javier'],
    'Edad': [25, 32, 28, None, 29, 31],
    'Email': ['ana@email.com', 'carlos@email.com', 'maria@email.com',
              'pedro@email.com', None, 'javier@email.com'],
    'Fecha_Contratacion': pd.date_range('2023-01-01', periods=6, freq='M'),
    'Activo': [True, True, False, True, True, False],
    'Puntuacion': [85.5, 92.3, 78.9, None, 88.1, 95.7]
}

df_complejo = pd.DataFrame(datos_complejos)
print("DataFrame con datos complejos:")
print(df_complejo)

print("\nInformaci√≥n con info():")
df_complejo.info()

print("\nValores nulos por columna:")
print(df_complejo.isnull().sum())

print("\n" + "="*70)

6. DATAFRAME CON DATOS M√ÅS COMPLEJOS:
DataFrame con datos complejos:
   ID  Nombre  Edad             Email Fecha_Contratacion  Activo  Puntuacion
0   1     Ana  25.0     ana@email.com         2023-01-31    True        85.5
1   2  Carlos  32.0  carlos@email.com         2023-02-28    True        92.3
2   3    None  28.0   maria@email.com         2023-03-31   False        78.9
3   4   Pedro   NaN   pedro@email.com         2023-04-30    True         NaN
4   5   Laura  29.0              None         2023-05-31    True        88.1
5   6  Javier  31.0  javier@email.com         2023-06-30   False        95.7

Informaci√≥n con info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  6 non-null      int64
 1   Nombre              5 non-null      object
 2   Edad                5 non-null      float64
 3   Email               5 non-null      object
 4   Fecha_Contratacion  6 non-null      datetime64[ns]
 5   Activo              6 non-null      bool
 6   Puntuacion          5 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 426.0+ bytes

Valores nulos por columna:
ID                    0
Nombre                1
Edad                  1
Email                 1
Fecha_Contratacion    0
Activo                0
Puntuacion            1
dtype: int64

======================================================================

C:\Users\Julio Garcia\AppData\Local\Temp\ipykernel_20448\892346612.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Fecha_Contratacion': pd.date_range('2023-01-01', periods=6, freq='M'),

In [18]:
# 7. EJEMPLO PR√ÅCTICO COMPLETO
print("\n7. EJEMPLO PR√ÅCTICO: AN√ÅLISIS DE EMPLEADOS")

print("=== RESUMEN DEL AN√ÅLISIS ===")
print(f"Total de empleados: {len(df)}")
print(f"Ciudades representadas: {df['Ciudad'].nunique()}")
print(f"Departamentos: {', '.join(df['Departamento'].unique())}")

print(f"\nSalario promedio: ${df['Salario'].mean():.2f}")
print(f"Salario m√°ximo: ${df['Salario'].max()}")
print(f"Salario m√≠nimo: ${df['Salario'].min()}")

print(f"\nDistribuci√≥n por ciudad:")
print(df['Ciudad'].value_counts())

print(f"\nDistribuci√≥n por departamento:")
print(df['Departamento'].value_counts())

print("\n¬°Exploraci√≥n completada! üêº")

7. EJEMPLO PR√ÅCTICO: AN√ÅLISIS DE EMPLEADOS
=== RESUMEN DEL AN√ÅLISIS ===
Total de empleados: 6
Ciudades representadas: 4
Departamentos: Ventas, IT, Direcci√≥n, Marketing

Salario promedio: $40333.333333333336
Salario m√°ximo: $50000
Salario m√≠nimo: $32000

Distribuci√≥n por ciudad:
Ciudad
Madrid       2
Barcelona    2
Sevilla      1
Valencia     1
Name: count, dtype: int64

Distribuci√≥n por departamento:
Departamento
Ventas       2
IT           2
Direcci√≥n    1
Marketing    1
Name: count, dtype: int64

¬°Exploraci√≥n completada! üêº